h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}
p {
    font-size: 1.2em;
    text-align: center;
}

body {
    background-color: #c19aeb;
}

button {
    font-size: 1em;
    background-color: #6a0dad;
    color: white;
    border: 3px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}