body{
    margin:0;
    font-family:Arial, sans-serif;
}

header{
    background:#41b1d9;
    color:white;
    padding:20px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

section{
    max-width:700px;
    margin:auto;
    padding:60px;
}

.card {
    width:100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

footer{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

h1{

font-size:48px;

}

.container{
    display:flex;
    gap:20px;
}

.box{
    flex:1;
    padding:40px;
    background: lightblue;
    text-align:center;
    border-radius: 5px;
}

@media (max-width:768px){
    h1{

font-size:32px;

}
section{

padding:20px;

}

header{

background:darkred;

}
.container{

flex-direction:column;

}

.navbar{

flex-direction:column;

align-items:center;

}
}